.grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1.5rem;
}

.Preferencegrid .grid img {
  width: 15vw;
  margin: 0 0.75rem;
  border-radius: 1rem;
}
//To fix later
// .Preferencegrid .grid img:hover {
//   filter: invert(90%);
// }

.selected-icon {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 2rem;
  color: #283e69 !important;
}

@media (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
  }

  .Preferencegrid .grid img {
    width: 21vw;
    margin: 0 0.75rem;
  }
}

@media (max-width: 767.98px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
  }

  .Preferencegrid .grid img {
    width: 30vw;
    margin: 0 0.75rem;
  }
}

@media (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Preferencegrid .grid img {
    width: 45vw;
    margin: 0 0.75rem;
  }
}
