.Preferencegrid .grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1.5rem;
}

.Preferencegrid .grid img {
  width: 12vw;
  margin: 0 0.75rem;
  border-radius: 1rem;
}
//To fix later
.Preferencegrid .grid img:hover {
  filter: invert(90%);
}

.Preferencegrid .grid .selectable {
  position: relative;
  cursor: pointer;
}

.selects {
  filter: invert(90%);
}

.selected-icon {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 2rem;
  color: #283e69 !important;
}

// Large devices (desktops)
@media (max-width: 992px) {
  .Preferencegrid .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
  }

  .Preferencegrid .grid img {
    width: 18vw;
    margin: 0 0.75rem;
  }
}

// Medium devices (tablets)
@media (max-width: 768px) {
  .Preferencegrid .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
  }

  .Preferencegrid .grid img {
    width: 25vw;
    margin: 0 0.75rem;
  }
}

// Small devices
@media (max-width: 576px) {
  .Preferencegrid .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Preferencegrid .grid img {
    width: 40vw;
    margin: 0 0.75rem;
  }
}
