.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .form-title {
    color: var(--darkblue);
    margin: 2rem 0;
    font-weight: 600;
    font-size: 3rem;
  }

  .spanlink {
    color: var(--pink);
    font-weight: 500;
  }

  .gicon {
    color: var(--pink);
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    top: -0.2rem;
    left: 2rem;
  }

  label {
    display: block;
    color: var(--darkblue);
    font-weight: 400;
    font-size: 1.1rem;
  }

  section {
    margin-bottom: 1rem;

    .error-message {
      color: rgb(146, 35, 35);
      font-size: 14px;
      position: absolute;
    }
  }

  input,
  select {
    background: #f5f6f8;
    border-radius: 4px;
    border: none;
    width: 320px;
    height: 40px;
    padding: 0 10px;
  }

  .input-error {
    border: 1px solid rgb(146, 35, 35);
  }

  .response-message {
    width: 320px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 2px;
  }

  .error {
    background-color: #f8d7da;
    color: #842029;
  }

  .success {
    background-color: #d1e7dd;
    color: #0f5132;
  }
}

// Small devices
@media (max-width: 576px) {
  .custom-form {
    min-height: 50vh;
    margin: 0 2rem;
  }
   
  .custom-form {
    input,
    select,
    .btn-form-submit,
    .response-message {
      width: 82vw;
    }
  }
}

// *******Button*******************************

.btn-form-submit {
  width: 320px;
  height: 40px;
  border: none;
  background: var(--lightblue);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease;
  overflow: hidden;
  position: relative;
}

.load {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.load::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading1 1s ease infinite;
  z-index: 10;
}

.load::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px dashed #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading1 3s linear infinite;
  z-index: 5;
}

@keyframes loading1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button.activeLoading .loading {
  visibility: visible;
  opacity: 1;
}

button .loading {
  opacity: 0;
  visibility: hidden;
}

// *******Button*******************************
