.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .form-title {
    color: var(--darkblue);
    margin: 2rem 0;
    font-weight: 600;
    font-size: 3rem;
  }

  .spanlink {
    color: var(--pink);
    font-weight: 500;
  }

  .gicon {
    color: var(--pink);
    font-weight: 600;
    font-size: 2rem;
    position: absolute;
    top: -0.2rem;
    left: 2rem;
  }

  label {
    display: block;
    color: var(--darkblue);
    font-weight: 400;
    font-size: 1.1rem;
  }

  section {
    margin-bottom: 1rem;

    .error-message {
      color: rgb(146, 35, 35);
      font-size: 14px;
      position: absolute;
    }
  }

  input,
  select {
    background: #f5f6f8;
    border-radius: 4px;
    border: none;
    width: 320px;
    height: 40px;
    padding: 0 10px;
  }

  .input-error {
    border: 1px solid rgb(146, 35, 35);
  }

  .response-message {
    width: 320px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 2px;
  }

  .error {
    background-color: #f8d7da;
    color: #842029;
  }

  .success {
    background-color: #d1e7dd;
    color: #0f5132;
  }
}

// Small devices
@media (max-width: 576px) {
  .custom-form {
    min-height: 50vh;
    margin: 0 2rem;
  }
   
  .custom-form {
    input,
    select,
    .btn-form-submit,
    .response-message {
      width: 82vw;
    }
  }
}