.profile {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkblue);
}

.profile .inputs-grpstop {
  display: flex;
  justify-content: center;
  position: relative;
}

.profile .input-grp {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .input-grp h5 {
  font-weight: 500;
  font-size: 20px;
  color: var(--darkblue);
}
.profile .divider1 {
  position: absolute;
  top: 2rem;
  height: 15rem;
  border: 1px solid rgb(204, 200, 200);
}

.profile .input-grp input {
  font-weight: 400;
  font-size: 16px;
  color: var(--darkblue);
  margin-bottom: 1rem;
  padding: 0.25rem 1rem;
}

.profile .input-grp .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.profile .input-grp button {
  font-weight: 400;
  font-size: 16px;
  background-color: var(--darkblue);
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.35s ease;
}

.profile .input-grp button:hover {
  background: var(--lightblue);
}
