.profile {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkblue);

  .profileheading {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
  }
}
