.add-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addHeading {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: center;
  color: #152c5b;
}
.addHeading2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #938e8e;
}

.submitbutton {
  background: #152c5b;
  color: #fff;
  width: 25vw;
  height: 3rem;
}

.submitbutton:hover {
  background: #3252df;
}

.imageupload {
  width: 82vw;
  margin: 1rem;
  background: #dee2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera2 {
  margin: 2rem;
  width: 5rem;
}

.uploadbutton {
  background: #152c5b;
  color: #dee2f2;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
}
.uploadp {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  padding: 1rem;
  margin: 0 2rem;
  color: #152c5b;
}

.input-grp h5 {
  font-weight: 500;
  font-size: 20px;
  color: #152c5b;
}
