.add-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .addHeading {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: var(--darkblue);
  }

  .addHeading2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--darkgray);
  }

  .inputs-grps-top {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .grp1 {
    padding-right: 4rem;

    div {
      margin-bottom: 25px;
    }
  }

  .grp2 {
    padding-left: 4rem;

    div {
      margin-bottom: 25px;
    }
  }

  .input-grp {
    width: 100%;
  }

  .input-grp h5 {
    font-weight: 500;
    font-size: 18px;
    color: var(--darkblue);
  }

  .divider1 {
    position: absolute;
    top: 1rem;
    height: 17rem;
    border: 1px solid var(--lightgray);
  }

  .input-grp input,
  select {
    background: #f5f6f8;
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 40px;
    padding: 0 10px;
  }

  .grp3 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grp3 .input-availability,
  .grp3 .input-occupancy {
    // text-align: center;
    margin: 0 2rem;
  }

  .divider2 {
    position: absolute;
    top: 2rem;
    left: 50%;
    height: 6rem;
    border: 1px solid var(--lightgray);
  }

  .submitbutton {
    background: var(--darkblue);
    color: #fff;
    min-width: 25vw;
    height: 3rem;
    margin-top: 1rem;
  }

  .submitbutton:hover {
    background: var(--lightblue);
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .add-room {
    .addHeading {
      font-size: 28px;
    }

    .addHeading2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

// Large devices (desktops)
@media (max-width: 992px) {
  .add-room {
    .submitbutton {
      background: var(--darkblue);
      color: #fff;
      width: 40vw;
      height: 3rem;
    }
  }
}

// Medium devices (tablets)
@media (max-width: 768px) {
  .add-room {
    .addHeading {
      font-size: 24px;
      line-height: 28px;
    }

    .addHeading2 {
      font-size: 16px;
      line-height: 20px;
    }

    .inputs-grps-top {
      flex-direction: column;
      margin-top: 2rem;
    }

    .input-grp {
      padding: 0;
    }

    .input-grp h5 {
      font-weight: 500;
      font-size: 18px;
    }

    .divider1 {
      display: none;
    }

    .grp3 {
      position: relative;
      display: flex;
    }

    .grp3 .input-availability,
    .grp3 .input-occupancy {
      margin: 0;
    }

    .divider2 {
      display: none;
    }

    .grp1 {
      padding-right: 0;

      div {
        margin-bottom: 15px;
      }
    }

    .grp2 {
      padding-left: 0;

      div {
        margin-bottom: 15px;
      }
    }
  }
}

// Small devices
@media (max-width: 576px) {
  .add-room {
    .addHeading {
      font-size: 18px;
      line-height: 22px;
    }

    .addHeading2 {
      font-size: 14px;
      line-height: 18px;
    }

    .input-grp h5 {
      font-weight: 500;
      font-size: 16px;
    }

    .divider1 {
      display: none;
    }

    .divider2 {
      display: none;
    }
  }
}