.card {
  position: relative;
  width: 400px;
  height: 273px;
  border-radius: 1rem;
}

.card .card-image img {
  width: 100%;
  height: 273px;
  border-radius: 1rem;
  z-index: -1;
}

.card .heading {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: left;
  position: absolute;
  bottom: 1rem;

  .matchimg {

    img,
    h6 {
      position: absolute;
      right: 1rem;
      bottom: 0.8rem;
    }

    h6 {
      font-size: 0.75rem;
      margin: 0 0.25rem 0.85rem;
    }
  }
}

.card .heading h5,
h6 {
  margin-left: 2rem;
}

.badge {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background-color: var(--pink);
  text-align: center;
  border-radius: 0 0.6rem 0 0.6rem;
}

@media(max-width:1399.98px) {
  .card {
    width: 100%;
  }
}