.card {
  position: relative;
  /* width: 27vw; */
  /* margin: 2rem 0; */
}

.card .card-image img {
  width: 100%;
  /* height: 100%; */
  border-radius: 1rem;
  z-index: -1;
}

.card .heading {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.45);
  text-align: left;
  position: absolute;
  bottom: 1.5rem;
}
.card .heading h5,
h6 {
  margin-left: 2rem;
}

.badge {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background-color: var(--pink);
  text-align: center;
  border-radius: 0 0.6rem 0 0.6rem;
}
