.card2 {
  position: relative;
  /* width: 263px; */
  height: 180px;
  margin: 10px;
}

.card2 .card-image img {
  width: 100%;
  border-radius: 1rem;
}

.card2-heading h5 {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--darkblue);
  text-align: left;
  margin-top: 1rem;
}
.card2-heading h6 {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
  color: var(--lightgray);
  margin-left: 0;
}

.card2 .badge {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: var(--pink);
  text-align: center;
  border-radius: 0 0.6rem 0 0.6rem;
}
