.locationSearch {
  height: 50px;
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30rem;
}
.loc-icon {
  height: 50px;
  margin-right: 1rem;
}

.input {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  color: var(--darkblue);
  border-radius: 1rem;
  border: none;
  padding: 0.3rem 1rem;
  /* text-align: right; */
}

.input:focus {
  outline: 2px solidvar(--darkblue);
  color: var(--darkblue);
}
