.locationSearch {
  height: 50px;
  min-width: 50vw;
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30rem;
}
.loc-icon {
  height: 50px;
  margin-right: 1rem;
}

.input {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  color: var(--darkblue);
  border-radius: 1rem;
  border: none;
  padding: 0.3rem 1rem;
}

.input:focus {
  outline: 1px solid var(--darkblue);
  color: var(--darkblue);
}

// Small devices
@media (max-width: 576px) {
  .locationSearch {
    height: 30px;
    min-width: 90vw;
    margin-right: 0rem;
  }
  .loc-icon {
    height: 25px;
    margin-right: 0.5rem;
  }

  .input {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    background: var(--verylightgray);
  }
}

// Medium devices (tablets)
@media (max-width: 768px) {
  .locationSearch {
    height: 40px;
    min-width: 90vw;
    margin-right: 0rem;
  }
  .loc-icon {
    height: 35px;
    margin-right: 0.5rem;
  }

  .input {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.03em;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    background: var(--verylightgray);
  }
}
