.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--lightblue);
  border-radius: 5px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s ease;
}

.hamburger span:nth-child(2) {
  background-color: var(--darkblue);
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--darkblue);
}

.hamburger.active span:nth-child(1) {
  transform: translate(5px, -2px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translate(0px, 3px) rotate(-45deg);
}
