.navbar {
  border-bottom: 1px solid var(--lightgray);

  a {
    font-family: "Poppins", sans-serif;
    color: var(--darkblue) !important;
    font-weight: 600;
    padding: 0 10px;
  }

  a:hover,
  a:active {
    color: var(--lightblue) !important;
  }

  .container {
    display: flex;
  }

  .profile-name {
    color: var(--lightblue);
    padding: 10px 15px 0 10px;
    font-size: 18px;
  }

  .not-loggedIn {
    a:not(:last-child) {
      border-right: 1px solid var(--lightgray);
    }
  }
}

@media (max-width: 991px) {
  .offcanvas-body {
    padding: 0;

    a {
      font-family: "Poppins", sans-serif;
      border-bottom: 1px solid var(--darkblue);
      color: var(--darkblue) !important;
      font-weight: 600;
      background-color: #d9d9d9;
      text-align: center;
      padding: 1rem;
    }

    .profile-name,
    .dropdown-divider {
      display: none;
    }

    .dropdown-menu {
      margin: 0;
      padding: 0;
    }
  }
}