.navbar {
    border-bottom: 2px solid #e1e6ed;

    a {
        color: #152C5B !important;
        font-weight: 500;
    }

    a:hover {
        color: #3252DF !important;
    }

    .profile-name {
        color: #3252DF;
        padding: 15px 15px 0 15px;
        font-size: 18px;
    }
}

@media(max-width:991px) {
    .offcanvas-body {
        padding: 0;

        a {
            border-bottom: 2px solid #152C5B;
            font-size: 18px;
            color: #152C5B !important;
            font-weight: 500;
            background-color: #D9D9D9;
            text-align: center;
            padding: 15px;
        }

        .profile-name,
        .dropdown-divider {
            display: none;
        }

        .dropdown-menu {
            margin: 0;
            padding: 0;
        }
    }

}