.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: block;
  border-bottom: 1px solid var(--lightgray);
  a {
    color: var(--darkblue) !important;
    font-weight: 500;
    padding: 0 10px;
  }

  a:hover {
    color: var(--lightblue) !important;
  }

  .container {
    display: flex;
  }

  .profile-name {
    color: var(--lightblue);
    padding: 10px 15px 0 10px;
    font-size: 18px;
  }

  .not-loggedIn {
    a:not(:last-child) {
      border-right: 1px solid var(--lightgray);
    }
  }

  .topcircles1 {
    display: none;
  }
}

@media (max-width: 991px) {
  .offcanvas-body {
    padding: 0;

    a {
      border-bottom: 1px solid var(--darkblue);
      font-size: 18px;
      color: var(--darkblue) !important;
      font-weight: 500;
      background-color: #d9d9d9;
      text-align: center;
      padding: 15px;
    }

    .profile-name,
    .dropdown-divider {
      display: none;
    }

    .dropdown-menu {
      margin: 0;
      padding: 0;
    }
  }
}

// Small devices
@media (max-width: 576px) {
  .navbar {
    border-bottom: none;
    position: relative;

    .container {
      display: flex;
      flex-direction: row-reverse;
    }

    .burger {
      margin-left: 2rem;
      border: none;
      outline: none;
    }

    .topcircles1 {
      display: flex;
      position: absolute;
      top: 0;
      left: -2rem;
    }
  }
}
