.slider-container {
  margin: 40px 0;
  width: inherit;

  .slick-prev:before,
  .slick-next:before {
    color: gray;
  }

  .slider-title {
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    color: var(--darkblue);
  }

}

@media(max-width:767.98px) {

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}