.editProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .inputs-grpstop {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .input-grp {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-grp h5 {
    font-weight: 500;
    font-size: 20px;
    color: var(--darkblue);
  }
  .divider1 {
    position: absolute;
    top: 2rem;
    height: 10rem;
    border: 1px solid rgb(204, 200, 200);
  }

  .input-grp input,
  .input-grp select {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: var(--darkblue);
    margin-bottom: 1rem;
    padding: 0.25rem 1rem;
  }
}
