.viewProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;

  .field {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;

    h5 {
      font-weight: 500;
      font-size: 1.25rem;
    }

    p {
      font-weight: 400;
      font-size: 1.25rem;
    }
  }

  .editbutton {
    background: var(--darkblue);
    font-weight: 600;
    font-size: 20px;
    padding: 0.5rem 3rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .viewProfile {
    .field {
      width: 45%;
    }
  }
}

// Large devices (desktops)
@media (max-width: 992px) {
  .viewProfile {
    .field {
      width: 50%;

      h5 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

// Medium devices (tablets)
@media (max-width: 768px) {
}

// Small devices
@media (max-width: 576px) {
  .viewProfile {
    .field {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr;
      text-align: left;

      h5 {
        font-size: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .editbutton {
      font-weight: 600;
      font-size: 1rem;
      width: 80vw;
    }
  }
}
