.App {
  font-family: "Poppins", sans-serif;
}

.App h1 {
  color: var(--lightblue);
}

.App h1 span {
  color: var(--darkblue);
}

.App h4 {
  color: var(--darkblue);
  font-size: 24px;
  margin: 1rem;
  font-weight: 500;
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
