.detailspage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .property-details-topbar-container {
    width: 100%;
    padding: 1rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .breadcrumb {
    font-size: 1.3rem;
    color: var(--darkblue);
  }
  .property-location {
    text-align: center;

    h1 {
      color: var(--darkblue);
    }

    .location-p img {
      margin-right: 0.5rem;
    }
  }
}
.owner-details-container {
  background: var(--lightergray);
  color: var(--darkblue);
  border-radius: 1.5rem;
  padding: 3rem;

  .avatar {
    margin-left: 2rem;
  }
  .owner-name {
    font-weight: 700;
    font-size: 2.5em;
  }
  .owner-details {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .owner-location-icon {
    margin-right: 1rem;
  }
  .owner-details-text-row {
    margin: 2rem;
    color: var(--darkblue);
  }

  .owner-details-text {
    color: var(--darkblue);
    font-weight: 500;
    font-size: 1.1em;
  }
  .owner-details-contact-col {
    background-color: var(--lightblue);
    padding: 1em 0 1em 2em;
    color: white;
    cursor: pointer;
    width: 10em;
    border-radius: 0.5em;
    margin: 0 1rem;
  }

  .owner-habits-row {
    gap: 2rem;
    text-align: center;
    margin: 2rem;

    .head {
      color: var(--darkblue);
      font-size: 2.25rem;
    }
    .owner-habits-container {
      background: white;
      color: var(--pink);
      font-size: 1.25rem;
      padding: 1em;
      border-radius: 0.6rem;
      max-width: 12rem;
      min-width: 10rem;
    }
  }
}

.detailspage .amentiesh {
  color: var(--darkblue);
  margin: 2rem 0;
}
.property-details-more-container {
  margin: 5rem 0;

  .header {
    color: var(--darkblue);
    font-weight: 500;
    font-size: 1.5em;
  }
  .para {
    margin-top: 0.5em;
    color: var(--darkgray);
    font-size: 1em;
  }
}

.detailspage .deleteButton {
  padding: 1rem 3rem;
}

// Large devices (desktops)
@media (max-width: 992px) {
  .detailspage {
    .breadcrumb {
      font-size: 1.2rem;
    }
    .property-location {
      h1 {
        font-size: 2rem;
      }
    }
  }
  .owner-details-container {
    padding: 1.5rem;

    .avatar {
      width: 170px;
      margin-left: 2rem;
    }

    .owner-name {
      font-weight: 600;
      font-size: 2em;
    }
    .owner-details {
      font-size: 1.4em;
    }
    .owner-details-text {
      font-weight: 400;
      font-size: 1em;
    }
    .owner-habits-row {
      gap: 2rem;
      text-align: center;
      margin: 2rem;

      .head {
        color: var(--darkblue);
        font-size: 2.2rem;
      }
      .owner-habits-container {
        font-size: 1rem;
        font-weight: 500;
        max-width: 10rem;
        min-width: 8rem;
      }
    }
  }
  .property-details-more-container {
    margin: 1rem 0 2rem 1rem;
    .para {
      color: var(--darkgray);
      font-size: 1em;
    }
  }
}
// Medium devices (tablets)
@media (max-width: 768px) {
  .detailspage {
    .breadcrumb {
      font-size: 1rem;
    }
    .property-location {
      h1 {
        font-size: 1.6rem;
      }
    }
    .property-details-search-input {
      display: none;
    }
  }

  .owner-details-container {
    padding: 1rem;
    .avatar {
      width: 150px;
      margin-left: 2rem;
    }
    .owner-name {
      font-weight: 600;
      font-size: 1.5em;
      margin-left: 1.5rem;
    }
    .owner-details {
      font-size: 1.25em;
      font-weight: 500;
      margin-left: 1.5rem;
    }
    .owner-location {
      margin-left: 1rem;
    }
    .owner-details-text-row {
      width: 95%;
    }
    .owner-habits-row {
      gap: 1rem;
      text-align: center;
      margin: 1rem;

      .head {
        font-size: 2rem;
      }
      .owner-habits-container {
        font-size: 1rem;
        font-weight: 500;
        max-width: 9rem;
        min-width: 8rem;
      }
    }
  }
}

// Small devices
@media (max-width: 576px) {
  .detailspage {
    .property-details-topbar-container {
      width: 100%;
      padding: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .breadcrumb {
      display: none;
    }
    .property-details-search-input {
      display: none;
    }
  }
  
  .owner-details-container {
    border-radius: 0.25rem;
    padding: 0.5rem;

    .avatar {
      width: 100px;
      margin: 1rem;
    }
    .owner-name {
      font-weight: 500;
      font-size: 1.25em;
      margin: 1rem 0 0 0;
    }
    .owner-details {
      font-size: 0.9em;
      font-weight: 400;
      margin: 0;
    }
    .owner-location-icon {
      width: 0.8rem;
      margin-right: 0.5rem;
    }
    .owner-details-text-row {
      width: 100%;
      font-weight: 500;
      font-size: 0.8em;
      margin: 0 0.5rem 0 0.5rem;
    }
    .owner-details-contact-col {
      margin: 0.5rem 0;
      padding: 1em 1em 1em 2em;
      color: white;
      cursor: pointer;
      width: 95%;
      border-radius: 0.5em;
      display: flex;
      align-items: center;
    }

    .owner-details-contact-col {
      display: flex;
      justify-content: center;
    }

    .owner-habits-row {
      gap: 0.5rem;
      text-align: center;
      margin: 1rem;

      .head {
        color: var(--darkblue);
        font-size: 1.5rem;
      }
      .owner-habits-container {
        font-size: 0.75rem;
        padding: 0.5em;
        border-radius: 0.4rem;
        max-width: 7rem;
        min-width: 5rem;
      }
    }
  }

  .property-details-more-container {
    margin: 1em;

    .header {
      font-size: 1em;
      margin: 0 0.25em;
    }
    .para {
      margin: 0 0.25em;
      font-size: 0.6em;
    }
  }

  .detailspage .amentiesh {
    margin: 1rem 0 0 0;
    font-size: 1.25rem;
  }

  .deleteButton {
    width: 80vw;
  }
}

.skeleton-container-property{
  width: 90%;
  margin: auto;
}