.logo {
  display: flex;
}

.logo h1 {
  font-size: 32px;
  color: var(--lightblue);
  font-weight: 600;
}

.logo h1 span {
  color: var(--darkblue);
}

@media (max-width: 768px) {
  .logo {
    h1 {
      font-size: 26px;
    }
  }
}

@media (max-width: 550x) {
  .logo {
    h1 {
      font-size: 24px;
    }
  }
}
