.toppicks-container {
    margin: 60px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

@media (min-width:550px) and (max-width:991px) {
    .toppicks-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
    }
}

@media(max-width:549.98px) {
    .toppicks-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 30px;
    }
}